.filter-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tiles-wrapper {
    border-radius: 8px;
    margin: 3% 0;
    background-color: white;
    padding: 20px 0;
}

.tile {
    border-left: 2px solid rgba(236, 235, 242, 255);
    flex: 1;
    text-align: start;
    padding-left: 15px;
}

.left-tile {
    flex: 1;
    text-align: start;
    padding-left: 15px;
}

.tile .btn {
    width: 80%;
    height: 40px;
    margin-top: 6px;
}

label {
    color: rgba(178, 177, 185, 255);
}

select {
    outline: 0;
    border: 0;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.8;
}