.App {
  text-align: center;
  background-color: rgba(248, 247, 253, 255);
}

main {
  margin: 3% 10%;
  transition-duration: 0.3s;
  position: relative;
}

.heading {
  font-size: 33px;
  font-weight: 600;
  opacity: 0.8;
}

main input {
  border-radius: 4px;
  border: 2px solid rgba(236, 235, 242, 255);
  padding: 4px;
}

main input:focus {
  outline: none;
}

::placeholder {
  color: rgba(176, 174, 184, 255);
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn {
  border: 2px solid rgba(230, 229, 237, 255);
  color: rgba(113, 102, 238, 255);
  background-color: white;
  border-radius: 4px;
  font-size: 0.9rem;
  min-width: 70px;
}

.btn:hover {
  border: 2px solid rgba(113, 102, 238, 255);
  color: white;
  background-color: rgba(113, 102, 238, 255);
  cursor: pointer;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 20px;
  column-gap: 20px;
}

footer {
  background-color: rgba(248, 247, 253, 255);
  color: rgba(178, 177, 185, 255);
  padding: 10px;
}

.space {
  height: 0;
}


@media only screen and (max-width: 1060px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 20px;
    column-gap: 20px;
  }

  main {
    margin: 3% 5%;
  }
}


@media only screen and (max-width: 800px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    column-gap: 20px;
  }

  main {
    margin: 3% 5%;
  }
}

@media only screen and (max-width: 890px) {
  .space {
    height: 180px;
  }
}